<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/all_logs.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./logs/archived/myapp-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE" />
        <!-- <appender-ref ref="FILE" /> -->
    </root>

    <logger name="org.springframework.security" level="TRACE">
        <appender-ref ref="CONSOLE" />
    </logger>

    <!-- if additivity is set to false, then the root level will not apply and the logger will log
    irrespectively. 
    Default is true or to just omit the attribute -->
    <!-- <logger name="org.hibernate.SQL" level="INFO" additivity="false"> -->
    <!-- <appender-ref ref="CONSOLE" /> -->
    <!-- <appender-ref ref="FILE" /> -->
    <!-- </logger> -->

    <logger name="org.hibernate.SQL" level="INFO">
        <appender-ref ref="CONSOLE" />
        <!-- <appender-ref ref="FILE" /> -->
    </logger>

    <logger name="org.hibernate.type.descriptor.sql" level="INFO">
        <appender-ref ref="CONSOLE" />
        <!-- <appender-ref ref="FILE" /> -->
    </logger>

    <logger name="com.p6spy" level="DEBUG">
        <appender-ref ref="CONSOLE" />
        <!-- <appender-ref ref="FILE" /> -->
    </logger>

</configuration>